fastapi==0.116.1
sqlalchemy==2.0.43
psycopg2-binary==2.9.10
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
uvicorn==0.35.0
pydantic[email]==2.11.7
python-multipart==0.0.20
python-jose[cryptography]==3.5.0
python-dotenv==1.1.1